<!--
    file: page.html
    ----------------------
    @authors:
    Aviran Amormin
    Natalia Akulov

    Description: Displays a book cover with details about the book and author.
    Includes navigation links, a book, and a footer.

    Notes:
    - External CSS styles are applied for layout and design.
    - Responsive and accessible design principles are used where applicable.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" />
    <title>Book Cover</title>
</head>

<body>
    <!-- page header -->
    <header>

        <nav>
            <div class="nav-header">
                <ul class="links">
                    <li class="link"><a href="/about">About</a> </li>
                    <li class="link"><a href="/contact">Contact</a> </li>
                </ul>
            </div>
        </nav>
        <h1>Book Component By Function</h1>
    </header>

    <main>

        <div class="book-container">

            <div class="book-img">
                <img src="./book.png" alt="book" />
            </div>

            <!-- book details -->
            <div class="book-details">
                <h2>By Kyle Simpson</h2>
                <p>Parts of the language that many JavaScript<br> programmers simply avoid.</p>
            </div>

        </div>

    </main>

    <!-- page footer -->
    <footer>
        <p>&copy; 2024 Natalia Akulov and Aviran Amormin | AviNat Projects</p>
        <p>Your partner in innovative solutions.</p>
    </footer>
</body>

</html>